@model IEnumerable<ToDoList.Data.Note>

@{
    Layout = null;
    ViewBag.Title = "Index";
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3 portfolio-item">
            
            <a href="#">
                <img class="img-responsive" src="http://placehold.it/750x450?text=@item.Name" alt="">
            </a>
        </div>
    }

</div>

