@model IEnumerable<ToDoList.Data.Note>


<a href="/weekview">WeekView</a>



@Html.Partial("_TaskMenu")


<div id="CustomerList">
 

    @Html.Partial("_TableView", Model)
</div>



@*<ul id="sortable">
    <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 1</li>
    <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 2</li>
    <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 3</li>
    <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 4</li>
    <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 5</li>
    <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 6</li>
    <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 7</li>
</ul>*@

@section scripts
{
    <script>

        //$(function () {
        //    $(".sortable").sortable();
        //    $(".sortable").disableSelection();
        //});

        function onAjaxBegin() {
            $("#CustomerList").hide();
        }

        function onAjaxComplete() {
            $("#CustomerList").fadeIn(300);
        }
</script>

}
