@model IEnumerable<ToDoList.Data.Note>

<h1>Tasks</h1>


@Ajax.ActionLink("List", // <-- Text to display
                 "TableView", // <-- Action Method Name
                 new AjaxOptions
                 {
                     UpdateTargetId = "CustomerList", // <-- DOM element ID to update
                     InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                     HttpMethod = "GET", // <-- HTTP method,
                     OnComplete = "onAjaxComplete",
                     OnBegin = "onAjaxBegin"
                     
                 })

@Ajax.ActionLink("Grid", // <-- Text to display
                 "GridView", // <-- Action Method Name
                 new AjaxOptions
                 {
                     UpdateTargetId = "CustomerList", // <-- DOM element ID to update
                     InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                     HttpMethod = "GET", // <-- HTTP method
                     OnComplete = "onAjaxComplete",
                     OnBegin = "onAjaxBegin"
                 })

<div id="CustomerList">
    @Html.Partial("_listView", Model)
</div>



<ul id="sortable">
    <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 1</li>
    <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 2</li>
    <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 3</li>
    <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 4</li>
    <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 5</li>
    <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 6</li>
    <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Item 7</li>
</ul>

@section scripts
{
    <script>

        $(function () {
            $(".sortable").sortable();
            $(".sortable").disableSelection();
        });

        function onAjaxBegin() {
            $("#CustomerList").hide();
        }

        function onAjaxComplete() {
            $("#CustomerList").fadeIn(300);
        }
</script>

}
