@model IEnumerable<ToDoList.Data.Note>

<h1>Notes</h1>


@Ajax.ActionLink("List", // <-- Text to display
                 "TableView", // <-- Action Method Name
                 new AjaxOptions
                 {
                     UpdateTargetId = "CustomerList", // <-- DOM element ID to update
                     InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                     HttpMethod = "GET", // <-- HTTP method,
                     OnComplete = "onAjaxComplete",
                     OnBegin = "onAjaxBegin"
                     
                 })

@Ajax.ActionLink("Grid", // <-- Text to display
                 "GridView", // <-- Action Method Name
                 new AjaxOptions
                 {
                     UpdateTargetId = "CustomerList", // <-- DOM element ID to update
                     InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                     HttpMethod = "GET", // <-- HTTP method
                     OnComplete = "onAjaxComplete",
                     OnBegin = "onAjaxBegin"
                 })

<div id="CustomerList">
    @Html.Partial("_tableView", Model)
</div>

<script>
    function onAjaxBegin() {
        $("#CustomerList").hide();
    }

    function onAjaxComplete() {
        $("#CustomerList").fadeIn(300);
    }
</script>
