@{
    ViewBag.Title = "WeekView";
}
<style>
    #carousel_inner {
        float: left; /* important for inline positioning */
        width: 630px; /* important (this width = width of list item(including margin) * items shown */
        overflow: hidden; /* important (hide the items outside the div) */
        /* non-important styling bellow */
        background: #F0F0F0;
    }

    #carousel_ul {
        position: relative;
        left: -210px; /* important (this should be negative number of list items width(including margin) */
        list-style-type: none; /* removing the default styling for unordered list items */
        margin: 0px;
        padding: 0px;
        width: 9999px; /* important */
        /* non-important styling bellow */
        padding-bottom: 10px;
    }

        #carousel_ul li {
            float: left; /* important for inline positioning of the list items */
            width: 200px; /* fixed width, important */
            /* just styling bellow*/
            padding: 0px;
            height: 110px;
            background: #000000;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 5px;
            margin-right: 5px;
        }

            #carousel_ul li img {
                .margin-bottom:-4px; /* IE is making a 4px gap bellow an image inside of an anchor (<a href...>) so this is to fix that*/
                /* styling */
                cursor: pointer;
                cursor: hand;
                border: 0px;
            }

    #left_scroll, #right_scroll {
        float: left;
        height: 130px;
        width: 15px;
        background: #C0C0C0;
    }

        #left_scroll img, #right_scroll img {
            /*styling*/
            cursor: pointer;
            cursor: hand;
        }
</style>


<section class="todo-section" id="calendar">
    <nav class="column-list-nav column-list-left-nav">
        <a class="nav-icon nav-button nav-left-button ss-left"></a>
    </nav>
    <nav class="column-list-nav column-list-right-nav">
        <a class="nav-icon nav-button nav-right-button ss-right"></a>

    </nav>
    <div class="column-list-scroll-container">
        <div class="column-list" style="left: -1px;">
            <section class="column calendar-column present" data-date="2015-08-13" data-id="null" id="column-2015-08-13" style="min-height: 206px;">
                <h3 class="day webfont">Thursday</h3>
                <h4 class="date">August 13, 2015</h4>
                <div class="todo-list ui-sortable" style="min-height: 126px;">
                    <ol class="recurring-todo-item-list"></ol>
                    <ol class="todo-item-list">
                        <li class="todo-item" data-id="c-0">
                            <div class="todo-text-wrapper">
                                <div class="todo-text"><p class="todo-text-html">Click this todo to mark it done</p></div>
                            </div>
                            <div class="todo-button-list">
                                <a class="todo-button todo-recurring-button ss-repeat" tabindex="-1"></a>
                                <a class="todo-button todo-edit-button ss-write" tabindex="-1"></a>
                                <a class="todo-button todo-destroy-button ss-delete" tabindex="-1"></a>
                            </div>
                        </li>
                        <li class="todo-item" data-id="c-2">
                            <div class="todo-text-wrapper">
                                <div class="todo-text"><p class="todo-text-html">Hover this todo to reveal the rest of the text because it spans multiple lines</p></div>
                            </div>
                            <div class="todo-button-list">
                                <a class="todo-button todo-recurring-button ss-repeat" tabindex="-1"></a>
                                <a class="todo-button todo-edit-button ss-write" tabindex="-1"></a>
                                <a class="todo-button todo-destroy-button ss-delete" tabindex="-1"></a>
                            </div>
                        </li>
                        <li class="todo-item" data-id="c-4">
                            <div class="todo-text-wrapper">
                                <div class="todo-text"><p class="todo-text-html">Drag this todo to the top or to another column</p></div>
                            </div>
                            <div class="todo-button-list">
                                <a class="todo-button todo-recurring-button ss-repeat" tabindex="-1"></a>
                                <a class="todo-button todo-edit-button ss-write" tabindex="-1"></a>
                                <a class="todo-button todo-destroy-button ss-delete" tabindex="-1"></a>
                            </div>
                        </li>
                    </ol>
                    <input class="new-todo-input" type="text">
                </div>
                <div class="todo-rules"></div>
            </section>
            <section class="column calendar-column future" data-date="2015-08-14" data-id="null" id="column-2015-08-14" style="min-height: 206px;">
                <h3 class="day webfont">Friday</h3>
                <h4 class="date">August 14, 2015</h4>
                <div class="todo-list ui-sortable" style="min-height: 126px;">
                    <ol class="recurring-todo-item-list"></ol>
                    <ol class="todo-item-list">
                        <li class="todo-item" data-id="c-6">
                            <div class="todo-text-wrapper">
                                <div class="todo-text"><p class="todo-text-html">Double click this todo to edit it</p></div>
                            </div>
                            <div class="todo-button-list">
                                <a class="todo-button todo-recurring-button ss-repeat" tabindex="-1"></a>
                                <a class="todo-button todo-edit-button ss-write" tabindex="-1"></a>
                                <a class="todo-button todo-destroy-button ss-delete" tabindex="-1"></a>
                            </div>
                        </li>
                        <li class="todo-item" data-id="c-8">
                            <div class="todo-text-wrapper">
                                <div class="todo-text"><p class="todo-text-html">Edit <em>this</em> todo to see how you can <em>italicize</em> words</p></div>
                            </div>
                            <div class="todo-button-list">
                                <a class="todo-button todo-recurring-button ss-repeat" tabindex="-1"></a>
                                <a class="todo-button todo-edit-button ss-write" tabindex="-1"></a>
                                <a class="todo-button todo-destroy-button ss-delete" tabindex="-1"></a>
                            </div>
                        </li>
                        <li class="todo-item" data-id="c-10">
                            <div class="todo-text-wrapper">
                                <div class="todo-text"><p class="todo-text-html">Edit <strong>this</strong> todo to see how you can <strong>embolden</strong> words</p></div>
                            </div>
                            <div class="todo-button-list">
                                <a class="todo-button todo-recurring-button ss-repeat" tabindex="-1"></a>
                                <a class="todo-button todo-edit-button ss-write" tabindex="-1"></a>
                                <a class="todo-button todo-destroy-button ss-delete" tabindex="-1"></a>
                            </div>
                        </li>
                    </ol>
                    <input class="new-todo-input" type="text">
                </div>
                <div class="todo-rules"></div>
            </section>
            <section class="column calendar-column future" data-date="2015-08-15" data-id="null" id="column-2015-08-15" style="min-height: 206px;">
                <h3 class="day webfont">Saturday</h3>
                <h4 class="date">August 15, 2015</h4>
                <div class="todo-list ui-sortable" style="min-height: 126px;">
                    <ol class="recurring-todo-item-list"></ol>
                    <ol class="todo-item-list">
                        <li class="todo-item" data-id="c-12">
                            <div class="todo-text-wrapper">
                                <div class="todo-text"><p class="todo-text-html">Edit <a href="http://teuxdeux.com">this</a> todo to see how you can link words</p></div>
                            </div>
                            <div class="todo-button-list">
                                <a class="todo-button todo-recurring-button ss-repeat" tabindex="-1"></a>
                                <a class="todo-button todo-edit-button ss-write" tabindex="-1"></a>
                                <a class="todo-button todo-destroy-button ss-delete" tabindex="-1"></a>
                            </div>
                        </li>
                        <li class="todo-item" data-id="c-14">
                            <div class="todo-text-wrapper">
                                <div class="todo-text"><p class="todo-text-html">or link the url <a href="http://teuxdeux.com">http://teuxdeux.com</a></p></div>
                            </div>
                            <div class="todo-button-list">
                                <a class="todo-button todo-recurring-button ss-repeat" tabindex="-1"></a>
                                <a class="todo-button todo-edit-button ss-write" tabindex="-1"></a>
                                <a class="todo-button todo-destroy-button ss-delete" tabindex="-1"></a>
                            </div>
                        </li>
                        <li class="todo-item" data-id="c-16">
                            <div class="todo-text-wrapper">
                                <div class="todo-text"><p class="todo-text-html"><a href="/video">Watch this video</a> to learn more</p></div>
                            </div>
                            <div class="todo-button-list">
                                <a class="todo-button todo-recurring-button ss-repeat" tabindex="-1"></a>
                                <a class="todo-button todo-edit-button ss-write" tabindex="-1"></a>
                                <a class="todo-button todo-destroy-button ss-delete" tabindex="-1"></a>
                            </div>
                        </li>
                    </ol>
                    <input class="new-todo-input" type="text">
                </div>
                <div class="todo-rules"></div>
            </section>
            <section class="column calendar-column future" data-date="2015-08-16" data-id="null" id="column-2015-08-16" style="min-height: 206px;">
                <h3 class="day webfont">Sunday</h3>
                <h4 class="date">August 16, 2015</h4>
                <div class="todo-list ui-sortable" style="min-height: 126px;">
                    <ol class="recurring-todo-item-list"></ol>
                    <ol class="todo-item-list"></ol>
                    <input class="new-todo-input" type="text">
                </div>
                <div class="todo-rules"></div>
            </section>
            <section class="column calendar-column future" data-date="2015-08-17" data-id="null" id="column-2015-08-17" style="min-height: 206px;">
                <h3 class="day webfont">Monday</h3>
                <h4 class="date">August 17, 2015</h4>
                <div class="todo-list ui-sortable" style="min-height: 126px;">
                    <ol class="recurring-todo-item-list"></ol>
                    <ol class="todo-item-list"></ol>
                    <input class="new-todo-input" type="text">
                </div>
                <div class="todo-rules"></div>
            </section>
        </div>
    </div>
</section>




@section scripts{
    <script>
        $(document).ready(function () {
            //move the last list item before the first item. The purpose of this is if the user clicks previous he will be able to see the last item.
            $('.column-list .column:first').before($('#column-list .column:last'));

            //when user clicks the image for sliding right
            $('.nav-right-button').click(function () {

                //get the width of the items ( i like making the jquery part dynamic, so if you change the width in the css you won't have o change it here too ) '
                var item_width = $('.column-list .column').outerWidth() + 10;

                //calculate the new left indent of the unordered list
                var left_indent = parseInt($('.column-list').css('left')) - item_width;

                //make the sliding effect using jquery's anumate function '
                $('.column-list').animate({ 'left': left_indent }, { queue: false, duration: 300 }, function () {

                    //get the first list item and put it after the last list item (that's how the infinite effects is made) '
                    //$('.column-list i:last').after($('.column-list li:first'));

                    //and get the left indent to the default -210px
                    $('.column-list').css({ 'left': '-210px' });
                });
            });

            //when user clicks the image for sliding left
            $('.nav-left-button').click(function () {

                var item_width = $('.column-list .column').outerWidth() + 10;

                /* same as for sliding right except that it's current left indent + the item width (for the sliding right it's - item_width) */
                var left_indent = parseInt($('.column-list').css('left')) + item_width;

                $('.column-list').animate({ 'left': left_indent }, { queue: false, duration: 300 }, function () {

                    /* when sliding to left we are moving the last item before the first item */
                   // $('.column-list li:first').before($('#carousel_ul li:last'));

                    /* and again, when we make that change we are setting the left indent of our unordered list to the default -210px */
                    $('.column-list').css({ 'left': '-210px' });
                });

            });
        });

    </script>
}