@model List<ToDoList.Service.DayColumn>
@{
    ViewBag.Title = "WeekView";
}


<section class="todo-section" id="calendar">
    <nav class="column-list-nav column-list-left-nav">
        <a class="nav-icon nav-button nav-left-button ss-left"></a>
    </nav>
    <nav class="column-list-nav column-list-right-nav">
        <a class="nav-icon nav-button nav-right-button ss-right"></a>

    </nav>
    <div class="column-list-scroll-container">
        <div class="column-list" style="left: -1px;">

            @foreach (var dayColumn in Model)
            {
                @Html.Partial("_DayColumn", dayColumn)
            }
        </div>
    </div>
</section>




@section scripts{
    <script>
        $(document).ready(function () {
            //move the last list item before the first item. The purpose of this is if the user clicks previous he will be able to see the last item.
            $('.column-list .column:first').before($('#column-list .column:last'));

            //when user clicks the image for sliding right
            $('.nav-right-button').click(function () {

                getNextDayData();

                
            });

            //when user clicks the image for sliding left
            $('.nav-left-button').click(function () {

                var item_width = $('.column-list .column').outerWidth();

                alert(item_width);

                /* same as for sliding right except that it's current left indent + the item width (for the sliding right it's - item_width) */
                var left_indent = parseInt($('.column-list').css('left')) + item_width;

                $('.column-list').animate({ 'left': left_indent }, { queue: false, duration: 300 }, function () {

                    debugger;
                    /* when sliding to left we are moving the last item before the first item */
                    $('.column-list .column:first').before($('.column-list .column:last'));

                    /* and again, when we make that change we are setting the left indent of our unordered list to the default -210px */
                    $('.column-list').css({ 'left': '-210px' });
                });

            });

            function getNextDayData() {
                debugger;
                var lastDate = $('.column-list .column:last').data('date');
              

                var item_width = $('.column-list .column').outerWidth();

                $('.column-list .column').width(item_width);

                $.get("/note/getnextday?basedate=" + lastDate, function (data) {

                    debugger;
                    $(data).insertAfter($('.column-list .column:last'));


                    //get the width of the items ( i like making the jquery part dynamic, so if you change the width in the css you won't have o change it here too ) '
                    var item_width = $('.column-list .column').outerWidth();

                    //calculate the new left indent of the unordered list
                    var left_indent = parseInt($('.column-list').css('left')) - item_width;

                    //make the sliding effect using jquery's anumate function '
                    $('.column-list').animate({ 'left': left_indent }, { queue: false, duration: 300 }, function () {

                        //get the first list item and put it after the last list item (that's how the infinite effects is made) '
                        $('.column-list .column:last').after($('.column-list .column:first'));

                        //and get the left indent to the default -210px
                        $('.column-list').css({ 'left': '-210px' });
                    });
                });

            }


            


        });

    </script>
}